.carousel {
  padding: 81px 0;

  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }

  .slick-prev {
    position: absolute;
    border: none;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    img {
      width: 31px;
      height: 50px;
    }
  }

  .slick-next {
    position: absolute;
    border: none;
    background-color: #ffffff;
    top: 50%;
    right: -66px;
    transform: translateY(-50%);
    img {
      width: 31px;
      height: 50px;
    }
  }
}

