.catalog {
  padding-bottom: 81px;

  &__headline {
	margin-bottom: 0;
	text-align: center;
	color: #0D0D0D;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
  }

  &__tabs {
	margin-top: 46px;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  &__tab {
	width: 220px;
	height: 50px;
	border: 2px solid #d0d0d0;
	line-height: 48px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	color: #6b6b6b;
	transform: skewX(-25deg);
	margin: 0 5px;
	cursor: pointer;
	transition: 0.3s all;

	&:hover {
	  box-shadow: 3px 3px 20px #C70101;
	  border: none
	}

	div {
	  transform: skewX(25deg);
	}

	&_active {
	  color: #fff;
	  background-color: #C70101;
	  border: none;
	}
  }

  &__content {
	margin-top: 57px;
	display: none;
	justify-content: space-between;
	flex-wrap: wrap;
	&_active {
	  display: flex;
	}
  }

  &-item {
	width: 300px;
	min-height: 440px;
	margin-bottom: 20px;
	border: 2px solid #e8e8e8;
	padding: 20px 20px 26px 20px;
	overflow: hidden;

	&__img {
	  display: block;
	  margin: 0 auto;
	  max-width: 100%;
	  height: 200px;
	}

	&__subtitle {
	  margin-top: 15px;
	  margin-bottom: 0;
	  color: #0D0D0D;
	  font-size: 16px;
	  font-weight: 700;
	  text-align: center;
	}

	&__descr {
	  margin-top: 15px;
	  text-align: center;
	  font-size: 14px;
	  font-weight: 300;
	}

	&__link {
	  display: block;
	  margin-top: 17px;
	  color: #C70101;
	  font-size: 14px;
	  font-weight: 500;
	  line-height: 1;
	  text-align: center;
	  text-decoration: underline;

	  &:hover {
		color: #C70101;
	  }
	}

	hr {
	  border-bottom: none;
	  margin-top: 19px;
	  margin-bottom: 21px;
	}

	&__footer {
	  display: flex;
	  justify-content: space-between;
	}

	&__old-price {
	  color: #555555;
	  font-size: 14px;
	  font-weight: 300;
	  text-decoration: line-through;
	  line-height: 1;
	}

	&__price {
	  margin-top: 10px;
	  color: #0D0D0D;
	  font-size: 20px;
	  font-weight: 700;
	  line-height: 1;
	}

	&__wrapper {
	  display: flex;
	  width: calc(200% + 40px);
	}

	&__content {
	  width: 50%;
	  margin-right: 0;
	  transform: translateX(-100%);
	  transition: 0.3s all;

	  &_active {
		transform: translateX(0%);
		margin-right: 20px;
	  }
	}

	&__list {
	  width: 50%;
	  margin-left: 20px;
	  margin-bottom: 0;
	  padding-right: 20px;
	  padding-left: 19px;
	  transform: translateX(0%);
	  transition: 0.3s all;
	  list-style: none;

	  &_active {
		transform: translateX(-100%);
		margin-left: 0;
	  }

	  li {
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 300;
		color: #555555;
		line-height: 21px;
		position: relative;

		&::before {
		  content: "";
		  position: absolute;
		  height: 5px;
		  width: 5px;
		  background-color: #C70101;
		  left: -14px;
		  top: 7px;
		}

		&:nth-child(4) {
		  margin-bottom: 22px;
		}
	  }
	}

	&__back {
	  display: block;
	  color: #C70101;
	  font-size: 14px;
	  font-weight: 500;
	  line-height: 1;
	  text-align: center;
	  text-transform: uppercase;
	  text-decoration: underline;
	}


  }
}