.consultation {
  padding: 100px 0 108px 0;
  min-height: 680px;
  background: url("../img/consultation_bg.png") center (center/cover) no-repeat;

  &__headline {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__descr {
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: #fff;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}