.footer {
  height: 630px;
  position: relative;

  &__info {
    padding: 50px 68px 60px 68px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background-color: #C70101;
    }

  &__addr {
    margin-bottom: 36px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
  }

  &__phone {
    margin-bottom: 36px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    &:hover {
      color: #fff;
    }
  }

  &__social {
    margin: 0 auto;
    width: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-item {
    margin: 0 15px;
  }


}