.overlay	{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;

  &__close {
	position: absolute;
	top: 0;
	right: -40px;
	font-size: 41px;
	line-height: 21px;
	color: #C70101;
	cursor: pointer;
  }

  &__subtitle {
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
  }

  &__descr {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 1;
  }

  &_mini {
	min-height: 140px;
  }
  .error {
	border: 1px solid red;
  }
  label.error {
	border: none;
	text-align: center;
	margin-bottom: 15px;
  }
}

#consultation, #order, #thanks {
  display: none;
}